<h1>Add New Data Below</h1>

<form action="/" method="POST">
    <label>Name
        <input type="text" name='name'>
    </label>
    <label>Answer
        <input type="text" name='answer'>
    </label>
    <label>Survey Number
        <input type="number" name='survey'>
    </label>
    <button type="submit">Submit!</button>
</form>